{% extends "DCCoreBundle:N1:admin_n1.html.twig" %}
{% block title %}{{ sonata_seo_title() }}{% endblock %}
{% block metas %}{{ sonata_seo_metadatas() }}{% endblock %}

{% block body %}

    <!-- sidebar -->
    <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center chevron">
                    <i class="glyphicon glyphicon-chevron-right"></i></a>
            </li>
        </ul>

        {% include ('DCCoreBundle:Partials:sidebarAdmin.html.twig') %}
        <ul class="list-unstyled hidden-xs" id="sidebar-footer">
            <li>
                <div style="height: 56px">
                    <h3 class="logo_dc bkg">{{ settings.siteNameShort }} </h3>

                </div>
            </li>
        </ul>
    </div>

    <div class="column col-sm-10 col-xs-11" id="main_admin">
    <!-- top nav -->
    <div class="navbar navbar-top navbar-static-top" style="margin-top: -12px">
        <h2 class="logo_dc pull-right" style="font-size: 30px;margin:0;padding-top: 35px">{{ settings.siteName }} </h2>
        {% include "DCCoreBundle:Taxonomy:header.html.twig" %}

    </div>


    <div class="padding admin">
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success"> {{ flashMessage }}</div>
    {% endfor %}
    {% block body_n3 %}{% endblock %}
    </div> <!-- fin padding -->
    </div><!-- fin main -->
{% endblock %}