{% extends "DCCoreBundle:N1:front_n1.html.twig" %}

{% block title %}{{ sonata_seo_title() }}{% endblock %}
{% block metas %}{{ sonata_seo_metadatas() }}{% endblock %}

{% block body %}

    {{ render(controller('DCCoreBundle:Front:getMainCategories')) }}
{% block body_n3 %}{% endblock %}
{% endblock %}