{% extends "DCCoreBundle:N1:admin_site_n1.html.twig" %}

{% block title %}
    {{parent()}}
{% endblock %}

{% block body %}

    <!-- sidebar -->
    <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center chevron">
                    <i class="glyphicon glyphicon-chevron-right"></i></a>
            </li>
        </ul>

        {% include ('DCCoreBundle:Partials:sidebarAdmin.html.twig') %}
        <ul class="list-unstyled hidden-xs" id="sidebar-footer">
            <li>
                <div style="height: 56px">
                    <h3 class="logo_dc bkg">{{ settings.siteNameShort }} </h3>

                </div>
            </li>
        </ul>
    </div>
    


    {% block body_n3 %}{% endblock %}

{% endblock %}