/* Mixin */
.transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
          box-shadow: @shadow;
}
.border-radius(@radius) {
	 border-radius: @radius;
   -webkit-border-radius:@radius;
   -moz-border-radius: @radius;
}

.sidebar_anim(@color) {
  .transition(all, 0.4s, ease-in);
  &:hover {
    background-color:@color;
  }
}

.sidebar(@color_link,@bkg_color,@bkg_color_border) {
    color:@color_link;
    background-color:@bkg_color;
    border-bottom: 1px solid @bkg_color_border;
    text-shadow:0 0 2px #000;

}