<ul id="menu" class="nav">
    <li><a href="{{path('dc_admin_manage_row')}}"><i class="fa fa-building"></i> Gérer les lignes</a></li>
    <li>
        <a href="#"><i class="fa fa-cubes"></i> Gérer les sites <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse in">
            <li>
                <a href="{{ path('dc_admin_add_site') }}"><i class="fa fa-plus-square"></i> Ajouter un site </a>
            </li>
            <li>
                <a href="{{ path('dc_admin_sites_results_dt_new') }}"><i class="fa fa-list-alt"></i> Voir les sites </a>
            </li>

        </ul>
        <!-- /.nav-second-level -->
    </li>

    <li>
        <a href=""><i class="fa fa-folder"></i> Gérer les catégories <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse in">
            <li>
                <a href="{{ path('dc_admin_add_taxonomy') }}"><i class="fa fa-plus-square"></i> Ajouter une catégorie </a>
            </li>
            <li>
                <a href="{{path('dc_admin_manage_taxonomy')}}"><i class="fa fa-list-alt"></i> Voir les catégories </a>
            </li>
            <li>
                <a href="{{path('dc_admin_manage2_taxonomy')}}"><i class="fa fa-list-alt"></i> Voir les catégories (arbre) </a>
            </li>
            <li>
                <a href="{{path('dc_admin_manage_tags')}}"><i class="fa fa-list-alt"></i> Voir les tags </a>
            </li>
            <li>
                <a href="{{path('dc_admin_manage_marques')}}"><i class="fa fa-list-alt"></i> Voir les marques </a>
            </li>

        </ul>

    </li>
    <li>
        <a href=""><i class="fa fa-folder"></i> Gérer les publicités <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse in">
            <li>
                <a href="{{ path('dc_admin_add_pub') }}"><i class="fa fa-plus-square"></i> Ajouter une pub </a>
            </li>
            <li>
                <a href="{{path('dc_admin_pub_results_dt_new')}}"><i class="fa fa-list-alt"></i> Voir les pubs </a>
            </li>

        </ul>

    </li>

    <li>
        <a href="{{ path('dc_admin_manage_setting') }}"><i class="fa fa-edit"></i>  Configurer l'annuaire</a>
    </li>
</ul>