<div id="1" class="thumb">
    <img class="lazy img-circle img-site" data-src="{{ asset('bundles/dccore/images/pattern-dc.jpg') }}" src="{{ asset('bundles/dccore/images/pattern-dc.jpg') }}" />
    {#<div class="bottom-thumb-text text1">#}
        {#<p>description</p>#}
    {#</div>#}
</div>
{#<div class="bottom-thumb" style="background: #f1f1f1">#}

{#</div>#}

{#<p class="position">{{ loop.index }}</p>#}
