<span class="site_loaded" id="{{ site.id }}"></span>
<span class="nb_cols_{{ site.id }}" id="{{ col }}"></span>
<div id="color_{{ site.id }}" class="thumb {%  if color is defined %} {{ color.nom }} {% else %}  grey {% endif %}">
    <span class="color_selected_{{ site.id }}" id="{%  if color is defined %}{{ color.id }}{% else %}1{% endif %}"></span>
    <div class="load_pic_{{ site.id }}">
        <img class="lazy img-circle img-site" src="{{ asset('/uploads/thumbs/'~site.mainPic.path) }}" />
    </div>

</div>
<div class="bottom-thumb">
    <div class="bottom-thumb-text btt_{{ site.id }} text1">
        <p>{{ site.descShort }}</p>
    </div>
    <a href="#" class="pull-right"><i id="{{ site.id }}" class="fa fa-info-circle show_desc"></i></a>
    <span class="label label-important">{{ site.category.nom }} </span>
    <br>
    {#<h3 class="text-black">{{ site.domain }}</h3>#}
    <a target="_blank" title="{{ site.ancre }}" style="margin-bottom: 5px;margin-top: 6px" class="btn btn-default btn-xs" href="{{ site.url }}">{{ site.ancre }} <i class="fa fa-external-link-square"></i></a><br/>
    {% for tag in site.tags %}
        <span class="label label-default m-r-10">{{ tag.nom }} </span>
    {% endfor %}
    <div class="domain-titre">
        <h3 class="text-black">{{ site.domain }}</h3>
    </div>
</div>

