{#Affichage des boutons de réglages#}
 {% for color in colors %}
     <span title="{{ color.id }}" class="color_box" id="{{ site.id }}" style="background: {{ color.code }}"></span> <span class="color_name_{{ color.id }}" id="{{ color.nom }}"></span>
 {% endfor %}
<br/>
<a class="btn btn-default btn-xs show_gallery" id="{{ site.id }}" href=""><i class="fa fa-picture-o"></i> Voir Galerie </a>
<div style="display:none;" class="load_gallery{{ site.id }}"></div>
<a class="btn btn-xs btn-default edit_site_slide" {% if addSite is defined %}
    data-add-site="true" {% endif %} {% if gabarit is defined %} data-id-gabarit="{{ gabarit.id }}" {% endif %}
        {% if row is defined %} data-id-row="{{ row.id }}" {% endif %} data-id-site="{{ site.id }}" href=""><i class="fa fa-edit"></i> Modifier site</a>
<a id="{{ site.id }}" class="btn btn-xs btn-default edit_site_slide_gallery mn" data-id-site="{{ site.id }}" href="">Gérer galerie <i class="fa fa-pencil-square"></i></a>