<div class="row load_lignes_existantes">
    <div class="col-md-12">
        <h3>Lignes existantes</h3>
        <table class="table table-bordered table-condensed table-responsive table-striped" id="rows_table">
            <thead>
            <tr>
                <th></th>
                {#<th>Sites</th>#}
                <th>Gabarit</th>

                <th>En ligne ?</th>
                <th>Créée le: </th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for row in rows %}
            <tr>

                    {% if row.isComplet == false %}
                        <td><i class="fa fa-arrow-circle-right fa-2x" style="color:#e62321"></i></td>
                        {% else %}
                        <td></td>
                    {% endif %}
                        {#<td>#}
                            {#{% for sr in row.siteRows %}#}
                                {#{{ sr.site.domain }} <br/>#}
                            {#{% endfor %}#}
                        {#</td>#}
                        <td><img width="20%" id="{{ row.gabarit.id }}" style="margin-top: 0px" class="preview_gabarit" src="{{ asset('bundles/dccore/images/gabarits/'~row.gabarit.format) }}" alt=""/></td>

                <td>
                    {% if row.isOnline == false %}
                        <i class="fa fa-close" style="color:#e62321"></i>
                    {% else %}
                        <i class="fa fa-check " style="color:#12ec61"></i>
                    {% endif %}
                </td>
                <td>
                    {{ row.created |date("m/d/Y") }}
                </td>
                         <td>
                             <a id="{{ row.id }}" class="btn btn-xs btn-default add_site_row" href="">Ajouter ici <i class="fa fa-pencil-square"></i></a>
                         </td>

            </tr>
            {% endfor %}
            <tbody>

            </tbody>
        </table>
    </div>
</div>