<div class="row" style="margin-top: 40px;">
    <div class="col-md-6 col-md-offset-6">
        {#<div class="btn-group" role="group" aria-label="...">#}
            <button type="button" class="btn btn-black save-ligne{% if existant is defined%}-existant{% endif %} pull-right"><a href="#">Enregistrer la ligne <i class="fa fa-save"></i></a></button>
            {% if row is defined %}
                    <button style="display: none" type="button" id="{{ row.id }}" class="btn btn-success btn-publish_row"><a  href="#">Publier la ligne <i class="fa fa-eye"></i></a></button>
                    <button style="display: none" type="button" id="{{ row.id }}" class="btn btn-warning btn-unpublish_row"><a  href="#">Mettre la ligne offline <i class="fa fa-eye"></i></a></button>
            {% endif %}
            <button style="display: none" type="button" class="btn btn-default btn-new-site"><a href="{{ path('dc_admin_add_site') }}">Ajouter un site <i class="fa fa-plus"></i></a></button>
            <button style="display: none" type="button" class="btn btn-default btn-new-texte"><a href="#">Ajouter un texte <i class="fa fa-align-justify"></i></a></button>
        <p style="display: none" class="reponse_save_ligne pull-right well well-sm"></p>
        {#</div>#}
    </div>
</div>


{#<div class="row" style="margin-top: 40px;">#}
    {#<div class="col-md-5 col-md-offset-7">#}
        {#<a class="btn btn-black btn-sm pull-right save-ligne{% if existant is defined%}-existant{% endif %}" href="#">Enregistrer la ligne <i class="fa fa-save"></i></a>#}
    {#</div>#}
{#</div>#}
{#<div class="row">#}
    {#<div class="col-md-5 col-md-offset-7">#}
        {#<p style="display: none" class="reponse_save_ligne pull-right well well-sm"></p>#}
    {#</div>#}
    {#<div class="col-md-5 col-md-offset-7">#}
        {#<a style="display: none" class="btn btn-primary btn-sm pull-right btn-new-site" href="{{ path('dc_admin_add_site') }}">Ajouter un nouveau site <i class="fa fa-plus"></i></a>#}
    {#</div>#}
    {#{% if row is defined %}#}
        {#<div class="col-md-5 col-md-offset-7">#}
            {#<a style="display: none; margin-top: 10px" class="btn btn-primary btn-sm pull-right btn-publish_row" href="{{ path('dc_admin_publish_row',{'id':row.id}) }}">Publier la ligne <i class="fa fa-plus"></i></a>#}
        {#</div>#}
    {#{% endif %}#}
{#</div>#}

