<a id="{{ dt_obj.id }}" class="btn btn-xs btn-default edit_site_slide mn" data-id-site="{{ dt_obj.id }}" href="">Modifier <i class="fa fa-pencil-square"></i></a>
<a id="{{ dt_obj.id }}" class="btn btn-xs btn-default edit_site_slide_gallery mn" data-id-site="{{ dt_obj.id }}" href="">Gérer galerie <i class="fa fa-pencil-square"></i></a>
<a id="{{ dt_obj.id }}" class="btn btn-xs btn-default mn" href="{{ path('dc_admin_add_site_row',{id:dt_obj.id}) }}">Ajouter à une Ligne <i class="fa fa-angle-double-right"></i></a>

{% if dt_obj.isOffline == true %}
        <a id="{{ dt_obj.id }}" class="btn btn-xs btn-default edit_site_slide mn put-online-btn-{{ dt_obj.id }}"  data-id-site="{{ dt_obj.id }}" href="">Site online <i class="fa fa-arrow-up"></i></a>
    {% else %}
        <a id="{{ dt_obj.id }}" class="btn btn-xs btn-default mn put-offline-btn" href="">Site offline <i class="fa fa-close"></i></a>
{% endif %}
