{% if dt_obj.isOffline == true %}
    <a href="{{ dt_obj.url }}" target="_blank" style="color:red">{{ dt_obj.url }}</a> <br/>
    <div style="margin-top: 10px">
        <span style="color:#ec100d">Url en erreur</span>
      <a style="color:orange" target="_blank" href="{{ dt_obj.urlError }}">{{ dt_obj.urlError }}</a>
    </div>
    {% else %}

        <a target="_blank" href="{{ dt_obj.url }}">{{ dt_obj.url}}</a>
{% endif %}