{% extends "DCCoreBundle:N1:front_n1.html.twig" %}

{% block title %}<title>{{ settings.metaTitre }}</title>{% endblock %}
{% block metas %}
    <meta name="description" content="{{ settings.metaDescription }}">
    <meta name="keywords" content="{{ settings.metaKeywords }}">
{% endblock %}


{% block body %}

<div class="container-fluid home" style="position: relative">
    <div class="row">
        <div class="col-md-12" style="margin-top: 50px;text-align: center">
            <h2 class="logo_dc">{{ settings.siteName }} </h2>
            <h4 class="site_slogan">{{ settings.slogan }}</h4>
        </div>
    </div>

    <div class="row" style="margin-top: 50px;text-align: center">
        {% for cat in cats %}
            {% if cat.isActive == true %}
            <a class="link_cat_home" href="{{ path('dc_front_view_by_main_cat',{slug:cat.slug}) }}">
            {% if  cat.ico is null or cat.ico.path == "no_ico.png"%}
                <img width="40" src="{{  asset('/bundles/dccore/images/'~cat.ico.path) }}">
                {% else %}
                    <img width="40" src="{{  asset('/uploads/thumbs/'~cat.ico.path) }}">
                {% endif %}

                {{ cat.nom }}</a>
                {% endif %}
        {% endfor %}
    </div>


</div>

    <div class="row hidden-sm hidden-xs">
        <div style="text-align:center;position: absolute;bottom:0;">
            {% for s in sites %}
                <img class="lazy img-rounded" width="70" data-src-lazy="{{ asset('uploads/thumbs/'~s.mainPic.path) }}" src="{{ asset('bundles/dccore/images/pattern-dc.jpg') }}" />

            {% endfor %}
        </div>
    </div>
{% endblock %}