{% extends "DCCoreBundle::front-n2.html.twig" %}

{% block title %}{{ sonata_seo_title() }}{% endblock %}
{% block metas %}{{ sonata_seo_metadatas() }}{% endblock %}


{% block body_n3 %}

<!-- main right col -->
<div class="column col-sm-10 col-xs-10" id="main">

    {% include('DCCoreBundle:Front/Partials:pubs.html.twig') %}

    <!-- top nav -->
    <div class="navbar navbar-top navbar-static-top logo">
        <div class="navbar-header">
            <button class="navbar-toggle btn-toggle-phone" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <h2 class="logo_dc pull-right">{{ settings.siteName }} </h2>

    </div>
    <div class="navbar navbar-top navbar-static-top menu">
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav topbar navbar-nav">
                {#<li>#}
                {#<a href="/"><i class="glyphicon glyphicon-home"></i> Accueil </a>#}
                {#</li>#}
                {% if cat.children.count >  0 %}
                    {% for c in cat.children %}
                        <li>
                            <a href="{{ path('dc_front_view_by_main_cat',{slug:c.slug}) }}">
                                {#{% if  c.ico is null or c.ico.path == "no_ico.png"%}#}
                                {#<img width="40" src="{{  asset('/bundles/dccore/images/'~c.ico.path) }}"> {{ c.nom }}#}
                                {#{% else %}#}
                                {#<img width="40" src="{{  asset('/uploads/thumbs/'~c.ico.path) }}"> {{ c.nom }}#}
                                {#{% endif %}  #}
                                {{ c.nom }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
                {#<li>#}
                {#<a href="#postModal" role="button" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Ajouter un site</a>#}
                {#</li>#}
            </ul>
        </nav>

    </div>

    <!-- /top nav -->
    <div class="col-sm-12 top_cat_titre">
        <div id="container">

            <!-- Menu Button -->
            <a href="#" class="menu-btn hidden-xs" style="color:#ff4519;margin-bottom: 10px;"><i style="color:#ff4519" class="fa fa-chevron-right"></i> Voir tous les sites</a>
            <br>
            {{ render(controller('DCCoreBundle:Front:displayMarques')) }}
        </div>
        <div class="col-sm-2">
                {#{% if cat.children.count == 0 %}#}
                    {#<h2>{{ cat.parent.nom }}</h2>#}
                {#{% endif %}#}
            <h1 class="top_cat">{{ cat.nom }}</h1>
        </div>
        <div class="col-sm-10 hidden-xs" style="padding-top: 25px">
            <p>{{ cat.description }}</p>
            <!-- Pushy Menu -->
            <nav class="pushy pushy-right">
                <a href="#" class="menu-btn" style="margin-left: 15px"><i class="fa fa-times" style="color:red"></i></a>
                <ul id="list_sites">
                    <li></li>
                </ul>
            </nav>




        </div>
        <!-- Your Content -->

    </div>

    <div class="padding">

        {% for row in rows %}
            <div class="row">

                {{ render(controller('DCCoreBundle:Front:loadSitesRowByRow', { 'row': row })) }}
                    {% if row.isComplet == false %}
                        {{ render(controller('DCCoreBundle:Front:displayBolobolo', { 'row': row })) }}
                    {% endif %}
            </div> {# fin row #}
        {% endfor %}

    </div>


</div><!-- /main -->
{%endblock%}