{% extends "DCCoreBundle::front-n2.html.twig" %}

{% block title %}{{ sonata_seo_title() }}{% endblock %}
{% block metas %}{{ sonata_seo_metadatas() }}{% endblock %}


{% block body_n3 %}
<!-- main right col -->
<div class="column col-sm-10 col-xs-10" id="main">
    {% include('DCCoreBundle:Front/Partials:pubs.html.twig') %}
    <!-- top nav -->
    <div class="navbar navbar-top navbar-static-top logo" style="margin-bottom: -35px;">
        <h2 class="logo_dc pull-right">{{ settings.siteName }} </h2>
        {#<nav class="collapse navbar-collapse" role="navigation">#}
            {#<ul class="nav navbar-nav">#}
                {#<li>#}
                    {#<a href="/"><i class="glyphicon glyphicon-home"></i> Accueil</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#postModal" role="button" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Ajouter un site</a>#}
                {#</li>#}
            {#</ul>#}


        {#</nav>#}
       {# <div class="navbar-header pull-left">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>#}
    </div>
    <!-- /top nav -->
    <div class="col-sm-12 top_cat_titre">
        <div id="container">
            <!-- Menu Button -->
            <a href="#" class="menu-btn hidden-xs" style="color:#ff4519;margin-bottom: 10px;"><i style="color:#ff4519" class="fa fa-chevron-right"></i> Voir tous les sites</a>
            <br>
            {{ render(controller('DCCoreBundle:Front:displayMarques')) }}
        </div>
        <div class="col-sm-2">
            <h1 class="top_cat">{{ tag.nom }}</h1>
        </div>
        <div class="col-sm-10 hidden-xs" style="padding-top: 25px">
            <p>{{ tag.description }}</p>
        </div>
    </div>

    <div class="padding">
        <div class="row">
        {% for s in sites %}

                    <div class="col-md-4">
                        <div class="thumb purple">
                            <a target="_blank" {% if s.isNoFollowAncre == true %} rel="nofollow" {% endif %} title="{{ s.ancre }}"
                               href="{{ s.url }}"> <img class="lazy img-circle img-site" data-src-lazy="{{ asset('/uploads/thumbs/'~s.mainPic.path) }}" src="{{ asset('bundles/app/images/pattern-dc.jpg') }}" /></a>
                            {#<img class="lazy img-circle img-site" data-bttrlazyloading-lg-src="{{ asset('/uploads/thumbs/'~sr.site.mainPic.path) }}" data-bttrlazyloading-threshold="500" src="{{ asset('bundles/app/images/pattern-dc.jpg') }}" />#}
                            {#<img class="lazy img-circle img-site" src="{{ asset('/uploads/thumbs/'~sr.site.mainPic.path) }}" />#}
                        </div> {# fin thumb #}
                        <div class="bottom-thumb">
                            {% if s.showDescShort == true %}
                                <div class="bottom-thumb-text btt_{{ s.id }}">
                                    <p><span class="fa fa-info-circle"></span> {{ s.descShort }}</p>
                                </div>
                            {% endif %}
                            {#<span class="label label-important">{{ sr.site.category.nom }} </span>#}
                            <br>

                            <a target="_blank" {% if s.isNoFollowAncre == true %} rel="nofollow" {% endif %} title="{{ s.ancre }}"
                               style="margin-bottom: 5px;margin-top: 6px" class="btn btn-default btn-xs" href="{{ s.url }}">{{ s.ancre }}
                                <i class="fa fa-external-link-square"></i></a><br/>
                            {% for tagb in s.tags %}
                                {% if tagb.id == s.category.id %}
                                    <a href="{{ path("dc_front_view_by_main_cat",{slug:tagb.slug}) }}" class="label label-important m-r-10">{{ tagb.nom }}</a>
                                {% elseif tagb == tag %}
                                    <a href="{{ path("dc_front_view_by_tag",{slug:tag.slug}) }}" style="text-decoration: underline" class="label label-default m-r-10">{{ tagb.nom }}</a>
                                {% else %}
                                    <a href="{{ path("dc_front_view_by_tag",{slug:tag.slug}) }}" class="label label-default m-r-10">{{ tagb.nom }}</a>
                                {% endif %}

                            {% endfor %}
                            <div class="domain-titre">
                                <h3 class="text-black">{{ s.domain }}</h3>
                            </div>
                        </div>  {# fin bottom-thumb #}
                    </div> {# fin col-md #}

                {% if  loop.index is divisible by(3) %}
                    </div> {# fin row #}<div class="row">
                    {% endif %}

        {% endfor %}
    </div>

</div><!-- /main -->
{%endblock%}