{% extends "DCCoreBundle::front-n2.html.twig" %}

{% block title %}
    {{parent()}}
{% endblock %}


{% block body_n3 %}
    <!-- main right col -->
    <div class="column col-sm-10 col-xs-11" id="main-img">



        <div class="padding">
           <h1>Cette page du site <br/><em>{{ site.domain }}</em> <br/> est actuellement indisponible</h1>

        </div>
    </div><!-- /main -->
{%endblock%}