{#Gabarit de prévisulation d'ajout d'une nouvelle ligne#}
<div class="row">

    <span class="gabarit_row_preview" id="{{ gabarit.id }}"></span>
    {% for col in cols %}
        <div class="col-md-{{ col }}">
            {% if loop.index == 1 %}
                {% set vars_preview_site = {'site': site,'col':col} %}
                {% set vars_preview_site_tools = {'site': site,'colors':colors,'gabarit':gabarit} %}
                {% include 'DCCoreBundle:Row/Partials:loadRowPreviewSite.html.twig' with vars_preview_site %}
                {% include 'DCCoreBundle:Row/Partials:loadRowPreviewSiteTools.html.twig' with vars_preview_site_tools %}

                {% else %}
                    {% include('DCCoreBundle:Row/Partials:boloThumb.html.twig') %}
            {% endif %}
        </div>
    {% endfor %}
</div>

{% include('DCCoreBundle:Row/Partials:RowPreviewBtns.html.twig') %}
