{#Gabarit pour éditer une ligne et y ajouter un site #}
<div class="load_row_edit-{{row.id}}">
    <div class="row" style="margin-top: 20px">
        <span class="id_row" id="{{ row.id }}"></span>
        {% for sr in row.siteRows %}
        <section id="sites_rows_sortable">
        <div id="{{ sr.id }}" class="col-md-{{ sr.nbCols }}">
                {% set vars_preview_site = {'site': sr.site,'col':sr.nbCols, 'color':sr.color} %}
                {% set vars_preview_site_tools = {'site': sr.site,'colors':colors,'row':row} %}
                {% include 'DCCoreBundle:Row/Partials:loadRowPreviewSite.html.twig' with vars_preview_site %}
                {% include 'DCCoreBundle:Row/Partials:loadRowPreviewSiteTools.html.twig' with vars_preview_site_tools %}
        </div>
        {% endfor %}
        {#Affichage du nouveau site à insérer#}
        <div class="col-md-{{ nb_col }}">
            {% set vars_preview_site = {'site': new_site,'col':nb_col} %}
            {% set vars_preview_site_tools = {'site': new_site,'colors':colors,'addSite':true} %}
            {% include 'DCCoreBundle:Row/Partials:loadRowPreviewSite.html.twig' with vars_preview_site %}
            {% include 'DCCoreBundle:Row/Partials:loadRowPreviewSiteTools.html.twig' with vars_preview_site_tools %}
        </div>

    {#// Reste à faire , affichage des bolobolos#}
        {% for b in bolobolos %}
            <div class="col-md-{{ b }}">
            {% include('DCCoreBundle:Row/Partials:boloThumb.html.twig') %}
            </div>
        {% endfor %}
        </section>
    </div>
</div>
{% set vars_btns = {'existant': true,'row':row} %}
{% include('DCCoreBundle:Row/Partials:RowPreviewBtns.html.twig') with vars_btns %}