<h3>  <small style="color:#1e285c"><i class="fa fa-arrow-circle-right fa-2x"></i> CHOISIR UN GABARIT</small></h3>
<div class="row" style="margin-bottom: 20px">
    {% for gabarit in gabarits %}
    <div class="col-sm-2"><img width="80%" id="{{ gabarit.id }}" class="preview_gabarit" src="{{ asset('bundles/dccore/images/gabarits/'~gabarit.format) }}" alt=""/></div>
    {% endfor %}
</div>
