<div class="row">
        {% if cat.getFirstChild %}
            {% for c in cat.getFirstChild.getChildren %}
                <div class="row">
                    <div id="{{ c.id }}" class="col-xs-3 col-sm-2 col-md-1  label label-info cat_admin">{{ c.nom }}</div>
                    {% if c.getChildren %}
                        {% for ch in c.getChildren %}
                            <div id="{{ ch.id }}" class="col-xs-3 col-sm-2 col-md-1  label label-default cat_admin">{{ ch.nom }}</div>
                            {% for ch1 in ch.getChildren %}
                                <div id="{{ ch1.id }}" class="col-xs-3 col-sm-2 col-md-1  label label-success cat_admin">{{ ch1.nom }}</div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            {% else %}
                {% for c in cat.getChildren %}
                    <div class="row">
                        <div id="{{ c.id }}" class="col-xs-3 col-sm-2 col-md-1  label label-info cat_admin">{{ c.nom }}</div>
                        {% if c.getChildren %}
                            {% for ch in c.getChildren %}
                                <div id="{{ ch.id }}" class="col-xs-3 col-sm-2 col-md-1  label label-default cat_admin">{{ ch.nom }}</div>
                                {% for ch1 in ch.getChildren %}
                                    <div id="{{ ch1.id }}" class="col-xs-3 col-sm-2 col-md-1  label label-success cat_admin">{{ ch1.nom }}</div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
    {% endif %}
    <div class="col-lg-12">
        <hr style="margin-bottom: -5px"/>
        <ul id="rows_by_cat">
            <h4 class="id_cat" id="{{ cat.id }}">{{ cat.nom }}</h4>
            {% for row in rows %}

                <li id="{{ row.id }}" {% if row.isOnline ==false %}class="row-offline" {% else %} class="row-online" {% endif %}>

                    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>

                    {% if row.isComplet ==false %} <i class="fa fa-arrow-circle-right" style="color:#e62321"></i> {% endif %}
                    {{ render(controller('DCCoreBundle:Row:loadSiteRows', { 'id_row': row.id })) }}


                    <a class="pull-right" style="border-radius:10px;background: #277CBA;color:white;padding-left: 8px;padding-right: 8px;margin-left: 10px">{{ row.rank }}</a>
                     <a style="margin-left:10px;" class="btn btn-xs btn-default pull-right edit_row_btn" id="{{ row.id }}" href="#">Editer <i class="fa fa-edit" style="color:#2aa3ec"></i> </a>
                     <a style="margin-left:10px; display: none" data-id-row="{{ row.id }}" class="btn btn-xs btn-default pull-right close_row_btn" id="{{ row.id }}" href="#">Fermer <i class="fa fa-close" style="color:#ec3432"></i> </a>
                    {% if row.isOnline ==false %} <a id="{{ row.id }}" class="btn btn-xs btn-default pull-right publish-site" href="#">Publier <i class="fa fa-eye" style="color:#e62321"></i> </a>{% endif %}
                    {% if row.isOnline ==true %} <a id="{{ row.id }}" class="btn btn-xs btn-default pull-right offline-site" href="#">Offline <i class="fa fa-eye-slash" style="color:#e62321"></i> </a>{% endif %}
                </li>
                <div style="display: none" class="lre load_row_edit-{{ row.id }}" id="{{ row.id }}"></div>
            {% endfor %}
        </ul>
    </div>
</div>