{#Gabarit pour éditer une ligne et y ajouter un site #}
<div class="row" style="margin-top: 20px">
    <span class="id_row" id="{{ row.id }}"></span>
    <section id="sites_rows_sortable">
    {% for sr in sitesRow %}
            <div id="{{ sr.id }}" class="col-md-{{ sr.nbCols }} site_row">
                    {% set vars_preview_site = {'site': sr.site,'col':sr.nbCols, 'color':sr.color} %}
                    {% set vars_preview_site_tools = {'site': sr.site,'colors':colors,'row':row} %}
                    {% include 'DCCoreBundle:Row/Partials:loadRowPreviewSite.html.twig' with vars_preview_site %}
                    {% include 'DCCoreBundle:Row/Partials:loadRowPreviewSiteTools.html.twig' with vars_preview_site_tools %}
                <a href="#" class="btn btn-xs btn-default remove_site_row" data-id="{{ sr.id }}" data-id-row="{{ row.id }}">retirer le site de la ligne</a>
            </div>
    {% endfor %}

    {#Si la ligne est incomplète on affiche les bolobolos#}
    {% if row.isComplet == false %}
        {% for b in bolobolos %}
            <div class="col-md-{{ b }}">
                {% include('DCCoreBundle:Row/Partials:boloThumb.html.twig') %}
            </div>
        {% endfor %}
    {% endif %}
    </section>
</div>
{#{% set vars_btns = {'existant': true,'row':row} %}#}
{#{% include('DCCoreBundle:Row/Partials:RowPreviewBtns.html.twig') with vars_btns %}#}
<div class="row">
    <div class="col-md-5 col-md-offset-7">

        <p style="display: none" class="reponse_save_ligne pull-right well well-sm"></p>
    </div>
    <div class="col-md-5 col-md-offset-7" style="margin-bottom: 40px;margin-top: 40px">
        <button type="button" class="btn btn-default btn-new-site"><a href="{{ path('dc_admin_add_site') }}">Ajouter un site <i class="fa fa-plus"></i></a></button>
        <a class="btn btn-black btn-sm pull-right save-ligne-existant" href="#">Enregistrer la ligne <i class="fa fa-save"></i></a>
    </div>
</div>