<div class="row" style="margin-top: 10px">
    {% for pic in pics|reverse %}
        {% if small_thumbs is defined and small_thumbs != "false" %}
                <div class="col-xs-6 col-md-3">

                    <a href="#" class="thumbnail">
                        <img data-id-site="{{ site.id }}" class="pic_gallery" id="{{ pic.id }}" src="{{ asset('/uploads/thumbs/'~pic.path) }}" alt="{{ site.domain }}">
                    </a>
                </div>
            {% elseif small_thumbs is not defined or small_thumbs == "false"%}
                <a href="#" class="thumbnail">
                    <img data-id-site="{{ site.id }}"  class="pic_gallery_gestion" id="{{ pic.id }}" src="{{ asset('/uploads/thumbs/'~pic.path) }}"
                         alt="{{ pic.isCropped }}">
                </a>
                <a class="delete-pic" data-id-site={{ site.id }} data-id-pic="{{ pic.id }}" href="#"><i class="fa fa-close" style="color: darkred;
  position: relative;
  top: -23px;
  right: 10px;"></i></a>

        {% endif %}
    {% endfor %}
</div>