{% extends "DCCoreBundle::admin_n2.html.twig" %}

{% block title %}
    {{parent()}}
{% endblock %}


{% block body_n3 %}
    <div class="column col-sm-10 col-xs-11" id="main">
        <!-- top nav -->
        <div class="navbar navbar-top navbar-static-top" style="margin-top: -12px">
            <h2 class="logo_dc pull-right" style="font-size: 30px;margin:0;padding-top: 35px">{{ settings.siteName }} </h2>
        </div>
    </div>
{%endblock%}