{% extends "DCCoreBundle::row_n2.html.twig" %}
{% block title %}
    {{ parent() }}
{% endblock %}
{% block body_n3 %}





    <div class="col-sm-10 col-xs-11" id="main_admin">
        <!-- top nav -->
        <div class="navbar navbar-top navbar-static-top" style="margin-top: -12px">
            <h2 class="logo_dc pull-right" style="font-size: 30px;margin:0;padding-top: 35px">{{ settings.siteName }} </h2>
            {% include "DCCoreBundle:Taxonomy:header.html.twig" %}
        </div>

<div class="col-md-6 col-md-offset-2">
    <div class="padding">
        <div class="page-header">
            <h1>Ajouter une pub
            </h1>
        </div>
        {% include ('DCCoreBundle:Forms:form-generic.html.twig') %}
    </div>
</div>
    </div>
{% endblock %}