{% extends "DCCoreBundle::row_n2.html.twig" %}
{% block title %}
    {{parent()}}
{% endblock %}
{% block body_n3 %}
    <div class="column col-sm-10 col-xs-11" id="main_admin">
        <!-- top nav -->
        <div class="navbar navbar-top navbar-static-top" style="margin-top: -12px">
            <h2 class="logo_dc pull-right" style="font-size: 30px;margin:0;padding-top: 35px">{{ settings.siteName }} </h2>
            {% include "DCCoreBundle:Taxonomy:header.html.twig" %}
        </div>
        <div class="padding">
            <div class="load_interface_attribution_pub" style=" display:none;background: rgba(236, 235, 232, 0.88);
                 padding: 40px;"></div>
            <div class="col-sm-10 col-sm-offset-1">

                <div class="page-header" style="margin-bottom: 0;">
                    <h2>Gérer les pubs de la catégorie {{ category.nom }} </h2>
                    <span style="display: none" id="id_cat" data-id="{{ category.id }}"></span>
                    <a class="btn btn-default btn-lg add_new_pub" data-id-cat="{{ category.id }}" href="#" >Attribuer une nouvelle pub</a>
                </div>

                <div class="load_interface_gestion_pub"><img src="{{ asset('/bundles/dccore/images/animal.gif') }}"></div>

            </div>



        </div> <!-- fin padding -->
    </div><!-- fin main -->

{%endblock%}