<div class="page-header" style="margin-bottom: 0;">
    <h2>Attribuer une pub à la catégorie {{ category.nom }} </h2>
    <span style="display: none" id="id_cat" data-id="{{ category.id }}"></span>
</div>
{% if pubs | length == 0 %}
<div class="alert alert-danger"> Il n'y a pas de pubs dispo pour cette catégorie.</div>
{% else %}

<h5>Cliquer sur l'image de la pub de votre choix  </h5>

{% for pub in pubs %}

    <label>
        {#{{ dump(pub.pubDetails) }}#}
        <input type="radio" name="pub_thumb" value="{{ pub.id }}"/>
        <img width="20%" src="{{ asset(pub.picPub.getWebPath) }}" alt="">
    </label>

{% endfor %}

<h5>La pub est-elle online ?</h5>
    <!-- Rounded switch -->
    <label>
        <input name="is_online" type="radio" checked value="oui"> <span>oui</span>
    </label>
    <label>
        <input name="is_online" type="radio" value="non"> <span>non</span>
    </label>


<h5>Url de destination</h5>
<input id="url_destination" type="text" class="form-control" placeholder="http://www.site.com">
<hr>
<a class="btn btn-primary btn-md pull-right save_attribution_pub" href="">Attribuer la pub</a>
{% endif %}