
{% for pubByCat in pubsByCat %}
    <div class="col-md-12" style="margin-bottom: 10px;margin-top: 10px;background: rgba(208, 207, 200, 0.15);padding: 10px">
        <div class="col-md-6">
            <img class="img img-responsive img-rounded" src="{{ asset(pubByCat.pub.picPub.getWebPath) }}" alt="">
        </div>
        <div class="col-md-6">
            <label class="switch" data-id-pub-detail="{{ pubByCat.id }}">
                <input id="id-pub-detail{{ pubByCat.id }}" name="is_online_list" type="checkbox" {% if pubByCat.isOnline == true %} checked value="oui" {% else %} value ="non"{% endif %} >
                <div class="slider"></div>
            </label>
            <h5>Url de destination</h5>
            <input id="url_destination{{ pubByCat.id }}" type="text" class="form-control" value="{{pubByCat.urlDestination }}" placeholder="http://www.site.com">
            <a style="margin-top:4px;" class="btn btn-xs btn-info pull-right save_url" data-id-pub-detail="{{ pubByCat.id }}" href="#">Save Url</a>
            <div class="alert alert-info reponse_ajax{{ pubByCat.id }}" style="display: none"></div>

            <a class="btn btn-xs btn-danger retrait_pub" data-id-pub-details="{{pubByCat.id}}" style="margin-top: 65px;" href="#">Retirer la pub de cette catégorie</a>
        </div>
    </div>
{% endfor %}