{#<div class="btn-group" role="group" aria-label="...">#}


    {#<div class="btn-group" role="group">#}
        {#<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
            {#Modifier catégories#}
            {#<span class="caret"></span>#}
        {#</button>#}
        {#<ul class="dropdown-menu">#}
            {#<li><a href="#">cat</a></li>#}
            {#<li><a href="#">cat</a></li>#}
        {#</ul>#}
    {#</div>#}
{#</div>#}
<script>
    $(".dropdown-toggle").dropdown();
</script>

<div class="btn-group" role="group" aria-label="...">
    <a href="{{ path('dc_admin_edit_pub',{id:dt_obj.id}) }}" type="button" class="btn btn-default"><i class="fa fa-pencil-square"></i> Modifier pub</a>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modifier catégories
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for pubDetail in dt_obj.pubDetails %}
            <li><a href="{{ path('dc_admin_edit_taxonomy',{id:pubDetail.category.id}) }}">{{ pubDetail.category.nom }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>




{#<a id="{{ dt_obj.id }}" class="btn btn-xs btn-default" href="">Modifier <i class="fa fa-pencil-square"></i></a>#}
{#<a id="{{ dt_obj.id }}" class="btn btn-xs btn-default mn" href="{{ path('dc_admin_add_site_row',{id:dt_obj.id}) }}">Supprimer <i class="fa fa-crosshairs"></i></a>#}

{#{% if dt_obj.isOnline == false %}#}
        {#<a id="{{ dt_obj.id }}" class="btn btn-xs btn-default edit_site_slide mn put-online-btn-{{ dt_obj.id }}"  data-id-site="{{ dt_obj.id }}" href="">Site online <i class="fa fa-arrow-up"></i></a>#}
    {#{% else %}#}
        {#<a id="{{ dt_obj.id }}" class="btn btn-xs btn-default mn put-offline-btn" href="">Site offline <i class="fa fa-close"></i></a>#}
{#{% endif %}#}
