{% for pubDetail in dt_obj.pubDetails %}
    <div style="background: #c5f5e8; color: #000; padding: 4px;border: 1px solid #9bead5;margin: 4px">
        <h3 style="margin-top: 0;margin-bottom: 5px;">{{ pubDetail.category.nom }}</h3>
        <p>
          url: <a style="text-decoration: underline" target="_blank" href="{{ pubDetail.urlDestination }}">{{ pubDetail.urlDestination }}</a>  <br>
          online:  {% if pubDetail.isOnline %} <i style="color:darkgreen" class="fa fa-check-circle" aria-hidden="true"></i> {% endif %}
        </p>
        <a href="{{ path('dc_admin_attribuer_pub_interface',{id:pubDetail.category.id}) }}">Modifier</a>

    </div>
{% endfor %}
{#{{ dump(dt_obj.categories) }}#}