<h4>Version Tablette et ordi</h4>
<img width="100%"  src="{{ asset('uploads/thumbs/'~dt_obj.picPub.path) }}" alt=""/>
{% if dt_obj.picPubMobile %}
    <h4>Version mobile</h4>
    <img width="50%"  src="{{ asset('uploads/thumbs/'~dt_obj.picPubMobile.path) }}" alt=""/>
{% endif %}