<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}Laine et Maille{% endblock %}
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
        <meta name="robots" content="noindex">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap -->
        {% block stylesheets %}
            <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset('built/dccore/css/libs.css') }}" type="text/css"/>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
            {#<link rel="stylesheet" href="{{ asset('built/dccore/css/general2.css') }}" type="text/css"/>#}
            {#<link rel="stylesheet" href="{{ asset('built/dccore/css/general2.css') }}" type="text/css"/>#}
            <link rel="stylesheet" href="{{ asset('built/dccore/css/general2.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('built/dccore/css/front2.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('vendor/chosen_v1.3.0/chosen.min.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('vendor/cropper/dist/cropper.min.css') }}" type="text/css"/>
            <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">


            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
            {#<script type="text/javascript" src="{{ asset('bundles/alidatatable/js/jquery.js') }}"></script>#}
            {#<script type="text/javascript" src="{{ asset('bundles/alidatatable/js/jquery.datatable.inc.js') }}"></script>#}
            {#<script type="text/javascript" src="{{ asset('bundles/alidatatable/js/jquery.dataTables.min.js') }}"></script>#}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/metisMenu/1.1.3/metisMenu.min.css">
            {#<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css">#}

            {#<link href="{{ asset('bundles/alidatatable/css/demo_table.css') }}" type="text/css" rel="stylesheet" />#}
            {#<link href="{{ asset('bundles/alidatatable/css/smoothness/jquery-ui-1.8.4.custom.css') }}" type="text/css" rel="stylesheet" />#}

        {% endblock %}
        <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>

        {% if app.environment == "dev" %}
            <script src="http://localhost:35729/livereload.js"></script>
        {% endif %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-app="lmAngular">
        <div class="wrapper">
            <div class="box_admin">
                <div class="row row-offcanvas row-offcanvas-left">
                     {% block body %}{% endblock %}
                </div> <!-- fin row -->
            </div> <!-- fin box -->

        </div> <!-- fin wrapper -->

        <script src="{{ asset('built/js/dc-libs.min.js') }}"></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/r/dt/dt-1.10.9/datatables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
        {#<script src="http://malsup.github.com/jquery.form.js"></script>#}
        <script src="{{ asset('bundles/dccore/js/jquery.form.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% if app.environment == "dev" %}
        {# si env. dev  Insertion des js non minifiés #}
        <script src="{{ asset('bundles/dccore/js/dc.js') }}"></script>
        <script src="{{ asset('bundles/dccore/js/dc-admin.js') }}"></script>
    {% else %}
        {# si env. prod  Insertion des js minifiés #}
        <script src="{{ asset('built/dccore/js/dc.min2.js') }}"></script>
        <script src="{{ asset('built/dccore/js/dc-admin.min4.js') }}"></script>
    {% endif %}

</body>
</html>