<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}{{ sonata_seo_title() }}{% endblock %}
        {% block metas %}{{ sonata_seo_metadatas() }} {% endblock %}

        {% if settings.isNoIndex %}
        <meta name="robots" CONTENT="NO-INDEX, NO-FOLLOW">
        <meta name="robots" content="noindex">
        {% endif %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap -->
        {% block stylesheets %}
            <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset('built/dccore/css/libs.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('vendor/pushy/css/pushy.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('built/dccore/css/general6.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('built/dccore/css/front2.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('vendor/lazyloadxt/dist/jquery.lazyloadxt.fadein.min.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('vendor/lazyloadxt/dist/jquery.lazyloadxt.spinner.min.css') }}" type="text/css"/>
        {% endblock %}
        {% if app.environment == "dev" %}
        <script src="http://localhost:35729/livereload.js"></script>
        {% endif %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


            {% if settings.gaCode is defined and settings.gaCode is not empty   %}

                <script>
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                    ga('create', '{{ settings.gaCode }}' , 'auto');
                    ga('send', 'pageview');

                </script>
        {% endif %}
        <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/667e56a6ee04f9f49e8168e09/78f0b5771feea0f9998ed63ae.js");</script>
    </head>
    <body class="push">
        <div class="wrapper">
            <div class="box">
                <div class="row row-offcanvas row-offcanvas-left">
                     {% block body %}{% endblock %}
                </div> <!-- fin row -->
            </div> <!-- fin box -->
        </div> <!-- fin wrapper -->
   
    <script src="{{ asset('built/js/dc-libs.min.js') }}"></script>
    {#<script src="{{ asset('built/dccore/js/dc.page.js') }}"></script>#}
    {% if app.environment == "dev" %}
        {# si env. dev  Insertion des js non minifiés #}
        <script src="{{ asset('bundles/dccore/js/dc.js') }}"></script>
        <script src="{{ asset('bundles/dccore/js/dc-front.js') }}"></script>
    {% else %}
        {# si env. prod  Insertion des js minifiés #}
        <script src="{{ asset('built/dccore/js/dc.min2.js') }}"></script>
        <script src="{{ asset('built/dccore/js/dc-front.min4.js') }}"></script>
    {% endif %}

</body>
</html>