{% extends "DCCoreBundle::admin_n2.html.twig" %}

{% block title %}
    {{parent()}}
{% endblock %}

{% block body_n3 %}

        <h1 class="cat">Ajouter une catégorie</h1>
        {% include "DCCoreBundle:Forms:form-generic.html.twig"%}



{%endblock%}
