{% extends "DCCoreBundle::admin_n2.html.twig" %}

{% block title %}
    {{parent()}}
{% endblock %}
{% block body_n3 %}
    <h1 class="cat" style="margin-top: 35px">Gérer les marques</h1>

<table class="table table-responsive table-bordered table-striped">
    <thead>
    <tr>
        <th>Nom de la marque</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for marque in marques %}
        <tr>
            <td>{{ marque.nom }} <a target="_blank" href="{{ path('dc_front_view_by_marque',{slug:marque.slug}) }}"><i class="fa fa-eye"></i></a></td>
            <td><a class="btn btn-default" href="{{ path('dc_admin_taxonomy_search',{slug:marque.slug}) }}">Lancer la recherche <i class="fa fa-search"></i></a></td>
            <td>
                {% if marque.isMarqueOnline == true %}
                    <a class="btn btn-danger" href="{{ path('dc_admin_deactive_marque',{id:marque.id}) }}">Dépublier la marque</a>
                {% else %}
                    <a class="btn btn-primary btn-sm" href="{{ path('dc_admin_active_marque',{id:marque.id}) }}">Mettre en ligne la marque</a>
                {% endif %}
            </td>
            <td><a href="" class="btn btn-warning btn-xs ">Modifier</a>

            <td><a href="{{ path('dc_admin_attribuer_pub_interface',{id:marque.id}) }}" class="btn btn-default btn-xs pull-right">gérer les pubs</a></td>

        </tr>
    {% endfor %}
    </tbody>
</table>

{%endblock%}