{% extends "DCCoreBundle::admin_n2.html.twig" %}

{% block title %}
    {{parent()}}
{% endblock %}
{% block body_n3 %}
<h1 class="cat" style="margin-top: 35px">Gérer les catégories</h1>
    {#{{ dump(roots) }}#}

        {% for root in roots %}
            {% if root.hasParent == false %}
            {{ _self.display_tree(root) }}
                {% endif %}
        {% endfor %}

        {% macro display_tree(level) %}
            <ul class="categories">
                <li>{{ level.nom }}
                    {#<a onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette catégorie?'))" class='btn btn-danger btn-xs' href="{{path('dc_admin_del_taxonomy',{id:level.id})}}">supprimer</a>#}
                    <a class='btn btn-primary btn-xs' href="{{path('dc_admin_edit_taxonomy',{id:level.id})}}">Modifier</a>
                    {% if level.children|default() %}
                        {% for child in level.children %}
                            {{ _self.display_tree(child) }}
                        {% endfor %}
                    {% endif %}
                </li>
            </ul>
        {% endmacro %}


{%endblock%}