{% extends "DCCoreBundle::admin_n2.html.twig" %}

{% block title %}
    {{parent()}}
{% endblock %}
{% block body_n3 %}
    <h1 class="cat" style="margin-top: 35px">Gérer les tags</h1>

<table class="table table-responsive table-bordered table-striped">
    <thead>
    <tr>
        <th>Nom du tag</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for tag in tags %}
        <tr>
            <td>{{ tag.nom }} <a target="_blank" href="{{ path('dc_front_view_by_tag',{slug:tag.slug}) }}"><i class="fa fa-eye"></i></a></td>
            <td><a href="" class="btn btn-primary btn-xs ">Modifier</a>
            <td><a href="{{ path('dc_admin_attribuer_pub_interface',{id:tag.id}) }}" class="btn btn-default btn-xs pull-right">gérer les pubs</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{%endblock%}