{% extends "DCCoreBundle::admin_n2.html.twig" %}

{% block title %}
    {{parent()}}
{% endblock %}
{% block body_n3 %}
        <h1 class="cat" style="margin-top: 35px">Gérer les catégories</h1>
    <table id="manage_sites" class="table table-striped table-bordered table-responsive">

    <tbody>
    {% for cat in cats %}
{% if cat.isMarque == false and cat.isTag == false %}
        {% if cat.children.count > 0 %}
            {% set topcat = true %}
                <tr style="background: rgba(40, 162, 232, 0.53)">
            {% else %}
                {% set topcat = false %}
            <tr>
        {% endif %}

        {% if  cat.ico is null or cat.ico.path == "no_ico.png"%}
            <td width="30">{% if cat.ico is not null %}  <img width="40" src="{{  asset('/bundles/dccore/images/'~cat.ico.path) }}" alt=""/> {% endif %} </td>
        {% else %}
            <td width="30">{% if cat.ico is not null %}  <img width="40" src="{{  asset('/uploads/thumbs/'~cat.ico.path) }}" alt=""/> {% endif %} </td>
        {% endif %}
        <td>
          nb sites:   {{ render(controller( 'DCCoreBundle:Taxonomy:countSiteInCat', { 'id': cat.id} )) }}
        </td>
        <td>
            {{ cat.nom }}
        </td>
        <td>
            <a class="btn btn-md btn-primary" style="background: rgba(12, 24, 66, 0.86);
    border: 1px solid #041029;" href="{{ path('dc_admin_attribuer_pub_interface',{id:cat.id}) }}">Gérer les pubs</a>
            {%if cat.isActive %}
                <a  style="margin-left: 10px" class='btn btn-warning btn-xs pull-right' href="{{path('dc_admin_deactive_taxonomy',{id:cat.id})}}">Redevenir tags</a>
            {%else%}
                <a style="margin-left: 10px" class='btn btn-success btn-xs' href="{{path('dc_admin_active_taxonomy',{id:cat.id})}}">Activer catégorie principale</a>

            {%endif%}
            <a onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette catégorie?'))" class='pull-right btn btn-danger btn-xs' href="{{path('dc_admin_del_taxonomy',{id:cat.id})}}">supprimer</a>
            <a style="margin-right: 10px" class='btn btn-primary btn-xs pull-right' href="{{path('dc_admin_edit_taxonomy',{id:cat.id})}}">Modifier</a>
        </td>
    </tr>
        {% if topcat == true %}
            {% for c in cat.children %}
                <tr>
                    {% if  c.ico is null or cat.ico.path == "no_ico.png"%}
                        <td style="padding-left: 150px">{% if c.ico is not null %}  <img width="40" src="{{  asset('/bundles/dccore/images/'~c.ico.path) }}" alt=""/> {% endif %} </td>
                    {% else %}
                        <td style="padding-left: 150px">{% if c.ico is not null %}  <img width="40" src="{{  asset('/uploads/thumbs/'~c.ico.path) }}" alt=""/> {% endif %} </td>
                    {% endif %}
                    <td>
                        {{ render(controller( 'DCCoreBundle:Taxonomy:countSiteInCat', { 'id': c.id} )) }}
                    </td>
                    <td>
                        {{ c.nom }}
                    </td>
                    <td>
                        {%if c.isActive %}
                            <a  style="margin-left: 10px" class='btn btn-warning btn-xs pull-right' href="{{path('dc_admin_deactive_taxonomy',{id:c.id})}}">Redevenir tags</a>
                        {%else%}
                            <a style="margin-left: 10px" class='btn btn-success btn-xs' href="{{path('dc_admin_active_taxonomy',{id:c.id})}}">Activer catégorie principale</a>

                        {%endif%}
                        <a onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette catégorie?'))" class='pull-right btn btn-danger btn-xs' href="{{path('dc_admin_del_taxonomy',{id:c.id})}}">supprimer</a>
                        <a style="margin-right: 10px" class='btn btn-primary btn-xs pull-right' href="{{path('dc_admin_edit_taxonomy',{id:c.id})}}">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif  %}
        {% endif  %}

    {% endfor %}
    </tbody>
    </table>





{%endblock%}
