{% extends "DCCoreBundle::admin_n2.html.twig" %}

{% block title %}
    {{parent()}}
{% endblock %}
{% block body_n3 %}
    <h1 class="cat" style="margin-top: 35px">résultats {{ marque.nom }} ( {{ sites |length }} )</h1>
    {% if marque.isMarqueOnline == true %}
        <a class="btn btn-danger" href="{{ path('dc_admin_deactive_marque',{id:marque.id}) }}">Dépublier la marque</a>
    {% else %}
        <a class="btn btn-primary btn-sm" href="{{ path('dc_admin_active_marque',{id:marque.id}) }}">Mettre en ligne la marque</a>
    {% endif %}
    <hr>
    <table class="table table-responsive table-bordered table-striped">
        <thead>
        <tr>
            <th></th>
            <th>site</th>
            <th>ancre</th>
        </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{% if site.mainPic %}
                    <img width="10%"  src="{{ asset('uploads/thumbs/'~site.mainPic.path) }}" alt=""/> <br>
            {% endif %}
                    <a target="_blank" href="{{ site.url }}">{{ site.url }}</a> </td>
                <td>{{ site.ancre }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{%endblock%}