<h1 class="cat">Modifier un site</h1>
<a target="_blank" class="btn btn-default" href="{{ site.domain }}"><i class="fa fa-home"></i> Voir le domaine de l'url sélectionnée</a>
<a target="_blank" class="btn btn-default" href="{{ site.url }}"><i class="fa fa-external-link-square"></i> Voir l'url sélectionnée</a>
<hr/>
{{ form_start(form, {'action': path('dc_admin_edit_site',{id:site.id}), 'method': 'POST','attr':{'id':'form_edit_site'}}) }}
    {#<form id="form_edit_site" action="{{ path('dc_admin_edit_site',{id:site.id}) }}" method="post" {{form_enctype(form)}}>#}
        {{form_widget(form)}}
        <hr/>
        <input type="submit" class='btn btn-primary pull-right' value="valider">
{{ form_end(form) }}


