{% if (site.pics |length > 0) %}
    <a class="btn btn-black btn-sm pull-right" href="{{path('dc_admin_add_site_row',{id:site.id})}}">Ajouter le site à une ligne</a>
{% else %}
    <button type="button" class="btn btn-default tooltip-ligne pull-right" data-toggle="tooltip" data-placement="left" title="Vous devez d'abord créer au moins une vignette">Ajouter le site à une ligne</button>
{% endif %}