{% if row_preview is defined and row_preview == true %}
    <img class="lazy img-circle img-site" src="{{ asset('/uploads/thumbs/'~pic.path) }}" />
    {% else %}
        <div class="row">
            {% if pic.isCropped == true %}
                <div class="col-md-6">
                    <img class="img-circle img-site" src="{{ asset('/uploads/thumbs/'~pic.path) }}" alt=""/>
                </div>
            {% else %}
                <div class="col-md-12">
                    <img id="crop" src="{{ asset('/uploads/thumbs/'~pic.path) }}" alt=""/>

                </div>
            {% endif %}
        </div>
{% endif %}
