<nav class="collapse navbar-collapse" role="navigation">

    <ul class="nav navbar-nav">

        <li>
            <a target="_blank" href="{{ settings.fullUrl }}" role="button" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Voir le site</a>
        </li>

    </ul>


</nav>
<div class="navbar-header pull-left">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

</div>
