{% extends "DCCoreBundle::row_n2.html.twig" %}

{% block title %}
    {{parent()}}
{% endblock %}
{% block body_n3 %}
    <div class="column col-sm-1 col-xs-2 edit_slide" style="display: none">
        <!-- top nav -->
        <div class="padding">
            <div class="row">
                <div id="load_form_site"></div>
            </div>
        </div> <!-- fin padding -->
    </div><!-- fin main -->
    <div class="column col-sm-1 wait_edit" style="display: none">
        <a href="#" class="btn btn-default come_back"> <span class="fa fa-arrow-circle-o-left fa-3x"></span></a>

    </div>


    <div class="column col-sm-10 col-xs-9 slide_to_right" id="main_admin" style="position: relative">
    <!-- top nav -->
    <div class="navbar navbar-top navbar-static-top" style="margin-top: -12px">
        <h2 class="logo_dc pull-right" style="font-size: 30px;margin:0;padding-top: 35px">{{ settings.siteName }} </h2>
        {% include "DCCoreBundle:Taxonomy:header.html.twig" %}

    </div>
    <div class="padding">
        <div style="margin-top: 45px;margin-left: 15px;">
            <h1 class="cat">Gérer les lignes</h1>
            <h4>Choisir une catégorie</h4>
        </div>
            <div class="row" style="margin-left: 14px">
                {% for main_cat in main_cats %}
                    <div id="{{ main_cat.id }}" class="col-xs-3 col-sm-2 col-md-1  label label-primary cat_admin">{{ main_cat.nom }}</div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="load_dt_rows" style="display:none;">
                    {#{{ render(controller('DCCoreBundle:Row:loadRows', { 'category': 1 })) }}#}

                </div>
            </div>
<div class="col-lg-12">
    <hr/>
</div>
            <div class="btn-lignes col-lg-4 col-lg-offset-8">

                <a style="display: none" class="btn btn-default save-order-ligne pull-right" href="">Enregistrer l'ordre des lignes <span class="glyphicon glyphicon-floppy-disk"></span></a>
                <div style="display: none" class="well statut_order"></div>
                {#<a class="btn btn-success pull-right" href="">Publier la ligne <span class="glyphicon glyphicon-upload"></span></a>#}
            </div>
    </div> <!-- fin padding -->
    </div><!-- fin main -->
{%endblock%}