@import "imports/template/vars.less";
@import "imports/mixins/mixins.less";
@import "imports/layout/navbar.less";
@import "imports/layout/panels.less";
@import "imports/layout/reponsive.less";

h1,h2,h3 {
  &.logo_dc {
    font-family: 'Pacifico', cursive;
    color:@logo;
    line-height: 0.4em;
    margin: 10px;
    padding:10px;
    font-size: 36px;
    font-weight: 400;
  }
  &.logo_dc.bkg {
    background: @logo_bkg;
    border-radius: 90px;
    display: inline-block;
    color:@white;
    
  }
  &.top_cat {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #2A282F;
    letter-spacing: -2px;
  }

}
h3 {
  &.text-black {
    font-size: 15px;
    font-weight: 500;
    color:#909090;
    font-style: Georgia;
    font-variant: small-caps;

  }

}
.btn-primary.btn-pub {
  cursor: pointer;
  position: absolute;
  right: 100px;
  top: 329px;
  z-index: 9999;
  background: rgba(25, 16, 16, 0.86);
  border: 5px solid #28f1d8;
  &:hover {
    cursor: pointer;
    background: rgba(239, 69, 69, 0.86);

  }
}


.site_slogan {
  color: @white;
  margin-top: 80px;
}
.link_cat_home {
  &:hover {
    color: #F06B6B;
    font-style: italic;

  }
  color: @white;
  margin-right: 10px;
}
.domain-titre {
  position: absolute;
  
  left: 5px;
  top: -4px;

}


/* custom template */
html, body {
   height: 100%;
   font-family:Arial,sans-serif;
   color:#555555;
   overflow: hidden;
}

.nav {
   font-family:Arial,sans-serif;
   font-size:14px;
}

a {
  color:#222222;
}

a:hover {
  text-decoration:none;
}

hr {
  border-color:#dedede;
}
textarea {
   resize: true;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}
.row {
  // margin-top: 40px;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 0;
    background: #FAFAFA;
}
.column .padding.admin {
  padding: 20px;
  background: #FAFAFA;
}

.full-70{
  padding-top: 70px;
}
.full-50{
  padding-top: 50px;
}
.full-30{
  padding-top: 30px;
}
.full-20{
  padding-top: 20px;
}

.box {
    bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color:@sidebar_front;
  /*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}
.box_login {
  .box;
  background: #271058;
  // background: url('/bundles/app/images/pattern.jpg') no-repeat center fixed;
  // background-size: cover; /* version standardisée */
}
.box_admin {
  .box;
  background-color: @bkg_color_admin;
  .padding {
    margin-top: 20px;
    padding: 20px;
  }
  .page-header {
  margin-top: 0px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:0px;
  margin-bottom: 50px;
}
}

.divider {
  margin-top:32px;
}

#main_admin {
  background-color:#FFF;
  padding-left:0;
   padding-right:0;
}

#main {
   background-color:@background_front;
   padding-left:0;
   padding-right:0;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;

}
#main-img {
  background: url('/bundles/dccore/images/404.jpg') no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  h1  {
    color: white;
    font-size: 87px;
    font-weight: 500;
    text-align: center;
    margin-top: 150px;
    text-shadow:  1px 1px 1px #8E8888;
    em {
      color: rgb(65, 124, 160);
      text-shadow: none;
    }
  }
  h4 {
    position: absolute;
    bottom: 20px;
    right: 0px;
    font-size: 150px;
    color:#0C1B66;
    font-weight: 700;
  }
  

}
.row-online {
  background: #F7FCB0;
  border-top: 1px solid #DFE269;
  border-bottom: 1px solid #DDD8A0;
}

.row-offline {
  background: #D8D8D8;
  border-top: 1px solid #AEAEAE;
  border-bottom: 1px solid #BBBAB1;
}

.img-site  {
  width: 90%;
  // border: 1px solid #F5F5F5;
}
.panel-body {
  text-align: center;
}

#sidebar {
  padding: 0px;
  padding-top: 0px;
  // margin-top: 56px;
  
}
#sidebar ul.nav a.chevron {
  background-color:@blue;
  height: 53px;
}

#sidebar a, #sidebar-footer a {
  .sidebar(#FFF,@sidebar_link_nav,@sidebar_link_nav_border);
}

#sidebar .nav li>a {
  // Mixin Sidebar
  .sidebar_anim(@purple_light);
  
}
.box_admin #sidebar a, #sidebar-footer a {
  .sidebar(@color_link_sidebar_admin,@bkg_link_sidebar_admin,@bkg_link_sidebar_border_admin);
  text-shadow: none;
}

.box_admin #sidebar .nav li>a {
  .sidebar_anim(#4ED4DF);
}

.box_admin #sidebar .nav-second-level a {
  background-color:#CCFAE5;
  color:#111112;
  padding-left: 40px;
  border-bottom: 1px solid #AAF0CB;
} 

.logo {
  display:block;
  padding:3px;
  background-color:#fff;
  color:#3B5999;
  height:28px;
  width:28px;
  margin:9px;
  margin-right:2px;
  margin-left:15px;
  font-size:20px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 1px;
  border-radius:2px;
}
#sidebar-footer {
  background-color:none;
  position:absolute;
  bottom:5px;
  padding:5px;
}
#footer {
  margin-bottom:20px;
}

/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
}



.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
  background-color:#3B5999;
    color:#fffffe;
}
.btn-default {
    color:#666666;
    text-shadow:none;
}
.form-control {
  
}

// .panel textarea, .well textarea, textarea.form-control
// {
//    resize: none;
// }
  
.badge{
   color:#3B5999;
   background-color:#fff;
}
.badge:hover, .badge-inverse{
   background-color:#3B5999;
   color:#fff;
}
    
.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
  color: #493F3F;
  margin: 5px;
  font-size: 11px;
}
.label-pink {
  background-color:#dddddd;
  color: #493F3F;
  margin: 5px;
  font-size: 11px;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.panel-default .panel-heading {
  background-color:#f9fafb;
  color:#555555;
}

.col-sm-9.full {
    width: 100%;
}

.modal-header, .modal-footer {
  background-color:#f2f2f2;
    font-weight:800;
    font-size:12px;
}

.modal-footer i, .well i {
    font-size:20px;
    color:#c0c0c0;
}

.modal-body {
  padding:0px;
}

.modal-body textarea.form-control
{
   resize: none;
   border:0;
   box-shadow:0 0 0;
}

small.text-muted {
  font-family:courier,courier-new,monospace;

}



.thumb {
  text-align: center;
  position: relative;
}
.thumb.grey {
  background: @bg-thumb-grey;
}
.thumb.blue {
  background: lighten(@bg-thumb-blue, 20%);
}
.thumb.pink {
  background: lighten(@bg-thumb-red, 20%);
}
.thumb.green {
  background: @bg-thumb-green;
}
.thumb.purple {
  background: #F0ECF4;
}
.bottom-thumb {
  background: white;
  border-bottom: 2px solid #FAE3E3;
  position: relative;
  top: -20px;
  text-align: center;
  padding: 25px 0 6px 0;
  .box-shadow(0 1px 2px 0 rgba(229, 74, 74, 0.22));
  
  h3 {
    margin-top: 8px;
  }
}

.bottom-thumb-text  {
  // display: none;
  background: #FFF;
  border-bottom: 1px solid #FAFAFA;
 
  p {
    color:#5C5858;
    text-align: justify;
    line-height: 17px;
    word-wrap:break-word;
    font-size: 13px;
    padding:10px 20px 0px 20px;

  }
}
.label-important {
  background-color: #f55753;
  color: #fff;
  padding-left: 9px
}

.cat_admin {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin: 5px;
  padding: 5px;



}
.add_site {
  margin-bottom: 4px;
}

img.preview_gabarit {
  background: aliceblue;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #DBE9F7;
  margin-top: 20px;
  cursor: pointer;
}
.breadcrumb {
  padding: 0px 15px;
  margin-bottom: 0px; 
  list-style: none;
  background-color: #B0FCB3;
  border-radius: 0px; 
  width: 110%;
  margin-left: -20px;
}
.btn-success a {
  &:hover {
    color:white;
  }
}

.btn-black{
  background: #453f50;
  color:#FFF;
  border:1px solid lighten(#453f50, 10%);
  &:hover {
    background: lighten(#453f50, 20%);
    color:#FFF;
    border:1px solid lighten(#453f50, 30%);
  }
  &:visited {
    color:#FFF;
  }
  a {
    color:white;
    &:hover{
      color:white;
    }
  }


}


.cropper-container{
  top: 0 !important;
}


.color_box {
  display: inline-block;
  cursor: pointer; 
  padding: 10px;
  border-radius:20px;
}

.help-block li {
  color: red;
}
#sites_rows_sortable div {
  cursor: move;
}

#rows_by_cat { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: 100%; 
  li {
    margin: 3px; 
    padding: 4px; 
    padding-left: 1.5em;
    cursor: move;
  }
  li span {
    position: absolute; 
    margin-left: -1.3em;
  }
  .ui-state-default {
    border:1px solid #d3d3d3;
  }
}
#dta-unique-id_pub_wrapper .ui-state-default:nth-child(3) {
  width: 500px;
}
.edit_slide {
  background: #FFF;
  padding-left: 0px;
  padding-right: 0px;
}
.loader_edit {
  width: 100%;
  height: 300px;
  text-align: center;
  padding-top: 50px;
}
#main_admin {
  // Pagination jquery ui conflict fix
 .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    color:#FFF;
  }
  .ui-buttonset .ui-button {
    margin-left: 0;
     margin-right: 0; 
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border:none;
  }
}

.dataTable tfoot {
  position: absolute;
  top: -78px;
}
.mn {
  margin-top: 2px;
  margin-bottom: 2px;
}
@media screen and (max-width: 1024px) {
  h1.logo_dc, h2.logo_dc, h3.logo_dc {
    font-size: 27px;
  }
  .nav.topbar > li > a {
    padding: 4px;
    border-bottom: 1px solid #F4F4F4;
    padding-left: 15px;
  }
}
@media screen and (min-width: 769px) {
  .pubs {
    margin-top: 78px;
  }
.home {
  h2 {
    color:white;font-size: 7em;margin-top: 10px;
  }
}

.top_cat_titre {
  background: #FFF;
  //margin-top: 50px;
  margin-top: 0;
}

}
// PUSHY OVERRIDE
.pushy {
  border-left: 14px solid rgba(0, 209, 137, 0.14);
  background: #FDFDFD;

  li {
    list-style-type: none;
  }
  a {
    color:#0a0a0a;
    padding:5px 0;
    &:hover {
      color:#b3b3b1;
    }
  }

}
ul#list_sites {
  padding-left: 6px;
}

// Breadcrumb
hr {
  height: 4px;
  margin-left: 15px;
  margin-bottom:-3px;
}
.hr-warning{
  background-image: -webkit-linear-gradient(left, rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0));
}
.hr-success{
  background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
}
.hr-primary{
  background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}
.hr-danger{
  background-image: -webkit-linear-gradient(left, rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(0,0,0,0));
}

.breadcrumb {
  background: rgba(245, 245, 245, 0);
  border: 0px solid rgba(245, 245, 245, 1);
  border-radius: 25px;
  display: block;
}

.btn-bread{
  margin-top:10px;
  font-size: 12px;

  border-radius: 3px;
}

// CHECKBOX IPHONE STYLE
//#toggles{
//  width:60px;
//
//  text-align:center;
//}
//.ios-toggle,.ios-toggle:active{
//  position:absolute;
//  top:-5000px;
//  height:0;
//  width:0;
//  opacity:0;
//  border:none;
//  outline:none;
//}
//.checkbox-label{
//  display:block;
//  position:relative;
//  padding:10px;
//  margin-bottom:20px;
//  font-size:12px;
//  line-height:16px;
//  width:100%;
//  height:36px;
//  /*border-radius*/
//  -webkit-border-radius:18px;
//  -moz-border-radius:18px;
//  border-radius:18px;
//  background:#f8f8f8;
//  cursor:pointer;
//}
//.checkbox-label:before{
//  content:'';
//  display:block;
//  position:absolute;
//  z-index:1;
//  line-height:34px;
//  text-indent:40px;
//  height:36px;
//  width:36px;
//  /*border-radius*/
//  -webkit-border-radius:100%;
//  -moz-border-radius:100%;
//  border-radius:100%;
//  top:0px;
//  left:0px;
//  right:auto;
//  background:white;
//  /*box-shadow*/
//  -webkit-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
//  -moz-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
//  box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
//}
//.checkbox-label:after{
//  content:attr(data-off);
//  display:block;
//  position:absolute;
//  z-index:0;
//  top:0;
//  left:-300px;
//  padding:10px;
//  height:100%;
//  width:300px;
//  text-align:right;
//  color:#bfbfbf;
//  white-space:nowrap;
//}
//.ios-toggle:checked + .checkbox-label{
//  /*box-shadow*/
//  -webkit-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
//  -moz-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
//  box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
//}
//.ios-toggle:checked + .checkbox-label:before{
//  left:calc(100% - 36px);
//  /*box-shadow*/
//  -webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
//  -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
//  box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
//}
//.ios-toggle:checked + .checkbox-label:after{
//  content:attr(data-on);
//  left:70px;
//  width:36px;
//}
///* GREEN CHECKBOX */
//
//.checkbox1 + .checkbox-label{
//  /*box-shadow*/
//  -webkit-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
//  -moz-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
//  box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
//}
//.checkbox1:checked + .checkbox-label{
//  /*box-shadow*/
//  -webkit-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
//  -moz-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
//  box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
//}
//.checkbox1:checked + .checkbox-label:after{
//  color:rgba(19,191,17,1);
//}
//
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


// Nouveau menu

