@pink_dark : #FF5656;
@pink_dark_2 : #CA3440;
@pink_dark_border : #CD1B1B;
@pink_light : #FF8B94;
@purple_light : #411991;
@pink_light_border : #E27373;
@white: #f1f1f1;
@bkg_main:#EAF9FF;

@blue: #09B7EA;
@blue_dark: #377194;
@blue_cobalt: #2D57F5;
@bg-thumb-grey: #e6e6e6;
@bg-thumb-blue: #5890d2;
@bg-thumb-red: #ff4345;
@bg-thumb-green: #cff5f2;

@bkg_color_admin: #EAF9FF;

@color_link_sidebar_front: #FFFFFF;

@color_link_sidebar_admin: #111112;
@bkg_link_sidebar_admin: #82DAB2;
@bkg_link_sidebar_border_admin: #52BD84;


// Nouvelles variables
@sidebar_front: #2A0D64;
@background_front: #e6f9f6;
@sidebar_link_nav: #2A0256;
@sidebar_link_nav_border: #1D033A;

@logo: #EC3333;
@logo_bkg: @pink_dark_border;