{% extends "DCCoreBundle::admin_n2.html.twig" %}

{% block title %}
    {{parent()}}
{% endblock %}

{% block body_n3 %}

    <h1 class="cat">Gérer la configuration du site</h1>
    {% include "DCCoreBundle:Forms:form-generic.html.twig"%}



{%endblock%}