{%  for nbCols in bolobolos %}
    <div class="col-md-{{ nbCols }}">
        <div class="thumb">
            <img class="img-circle img-site" src="{{ asset('bundles/dccore/images/pattern-dc.jpg') }}" />
        </div>
    </div>
{% endfor %}
