<a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="color:#ff4519;margin-bottom: 10px;margin-top: 4px; display: block">
    <i style="color:#ff4519" class="fa fa-chevron-right"></i> Voir toutes les marques
</a>

<div class="collapse" id="collapseExample">
    <div class="well" style="background: #ffffff">
        {% for marque in marques  %}
            <a class="label label-default m-r-10" style="background: #3a6ffc;color:#FFF;font-size: 1.1em" href="{{ path('dc_front_view_by_marque',{slug:marque.slug}) }}">{{ marque.nom | capitalize}}</a>
        {% endfor %}
    </div>
</div>