<div class="pubs">
    {% for pubDetails in pubs %}
        <div {% if pubs | length >=1 %}class="pub hidden-xs" {% endif %} style="background: {{ pubDetails.pub.codeCouleur }};">
            <a href="{{ pubDetails.urlDestination }}" target="_blank">
                <img style="
        margin-left: 0;position: relative;z-index: 888;cursor: pointer;
        " class="img img-responsive" src="{{ asset(pubDetails.pub.picPub.getWebPath()) }}" alt="">
                <a class="btn btn-primary btn-pub hidden-xs" href="{{ pubDetails.urlDestination }}" target="_blank">Cliquez ici</a>
            </a>
        </div>
        {% if pubDetails.pub.picPubMobile  %}
            <div class="hidden-sm hidden-md hidden-lg {% if pubs | length >1 %}pubMobile {% endif %}" style="background: {{ pubDetails.pub.codeCouleur }};
                    ">
                <a href="{{ pubDetails.urlDestination }}" target="_blank">
                    <img style="margin-top: 50px;
            margin-left: 0;position: relative;z-index: 888;cursor: pointer;
            " class="img img-responsive" src="{{ asset(pubDetails.pub.picPubMobile.getWebPath()) }}" alt="">
                    <a class="btn btn-primary btn-pub hidden-xs" href="{{ pubDetails.urlDestination }}" target="_blank">Cliquez ici</a>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{#<a style="margin-top: 4px;font-size: 12px;text-decoration: underline;margin-right: 14px;" class="pull-right" href="#">Votre publicité ici ?</a>#}