<!-- sidebar -->
<div class="column col-sm-2 col-xs-2 sidebar-offcanvas" id="sidebar">

    <ul class="nav">
        <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center chevron">
                <i class="glyphicon glyphicon-chevron-right"></i></a>
        </li>
    </ul>

    <ul class="nav hidden-xs" id="lg-menu">
        {% for cat in cats %}
            {% if cat.isActive == true %}
            <li><a href="{{ path('dc_front_view_by_main_cat',{slug:cat.slug}) }}">
                    {% if  cat.ico is null or cat.ico.path == "no_ico.png"%}
                        <img width="40" src="{{  asset('/bundles/dccore/images/'~cat.ico.path) }}"> {{ cat.nom }}
                    {% else %}
                        <img width="40" src="{{  asset('/uploads/thumbs/'~cat.ico.path) }}"> {{ cat.nom }}
                    {% endif %} </a>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
    <ul class="list-unstyled hidden-xs" id="sidebar-footer">
        <li>
            <div style="height: 56px">
                <h3 class="logo_dc bkg">{% if settings.siteNameShort is defined %}
                    {{ settings.siteNameShort }}
                {% endif %}</h3>

            </div>
        </li>
    </ul>

    <!-- tiny only nav-->
    <ul class="nav visible-xs" id="xs-menu">
        {% for cat in cats %}
        {% if cat.isActive == true %}
            <li><a class="text-center" href="{{ path('dc_front_view_by_main_cat',{slug:cat.slug}) }}">
                    {% if  cat.ico is null or cat.ico.path == "no_ico.png"%}
                        <img width="32" src="{{  asset('/bundles/dccore/images/'~cat.ico.path) }}">
                    {% else %}
                        <img width="32" src="{{  asset('/uploads/thumbs/'~cat.ico.path) }}">
                    {% endif %}
                </a></li>
        {% endif %}
        {% endfor %}
    </ul>

</div>
<!-- /sidebar -->