{% for sr in sitesRow %}
    <div class="col-md-{{ sr.nbCols }}">
        <div class="thumb {{ sr.color.nom }}">
            <a target="_blank" {% if sr.site.isNoFollowAncre == true %} rel="nofollow" {% endif %} title="{{ sr.site.ancre }}"
               href="{{ sr.site.url }}"><img class="lazy img-circle img-site" data-src-lazy="{{ asset('/uploads/thumbs/'~sr.site.mainPic.path) }}" src="{{ asset('bundles/dccore/images/pattern-dc.jpg') }}" /></a>


            {#<img class="lazy img-circle img-site" data-bttrlazyloading-lg-src="{{ asset('/uploads/thumbs/'~sr.site.mainPic.path) }}" data-bttrlazyloading-threshold="500" src="{{ asset('bundles/app/images/pattern-dc.jpg') }}" />#}
            {#<img class="lazy img-circle img-site" src="{{ asset('/uploads/thumbs/'~sr.site.mainPic.path) }}" />#}
        </div> {# fin thumb #}
        <div class="bottom-thumb">
            {% if sr.site.showDescShort == true %}
            <div class="bottom-thumb-text btt_{{ sr.site.id }}">
                <p><span class="fa fa-info-circle"></span> {{ sr.site.descShort }}</p>
            </div>
            {% endif %}
            {#<span class="label label-important">{{ sr.site.category.nom }} </span>#}
            <br>

            <a target="_blank" {% if sr.site.isNoFollowAncre == true %} rel="nofollow" {% endif %} title="{{ sr.site.ancre }}"
               style="margin-bottom: 5px;margin-top: 6px" class="btn btn-default btn-xs" href="{{ sr.site.url }}">{{ sr.site.ancre }}
                <i class="fa fa-external-link-square"></i></a><br/>
            {% for tag in sr.site.tags %}
                {% if tag.id == sr.site.category.id %}
                    <a href="{{ path("dc_front_view_by_main_cat",{slug:tag.slug}) }}" class="label label-important m-r-10">{{ tag.nom }} </a>
                {% else %}
                    <a href="{{ path("dc_front_view_by_tag",{slug:tag.slug}) }}" class="label label-default m-r-10">{{ tag.nom }} </a>
                {% endif %}

            {% endfor %}
            <div class="domain-titre">
                <h3 class="text-black">{{ sr.site.domain }}</h3>
            </div>
        </div>  {# fin bottom-thumb #}
    </div> {# fin col-md #}
{% endfor %}