@import "../template/vars.less";
@import "../mixins/mixins.less";
.navbar-top.menu {
  border-bottom: none;
}

.navbar-top {
  border-width:0;
  background-color:#FFF;
  color:#ffffff;
  font-family:arial,sans-serif;
  top:52px;
  position:fixed;
  width:inherit;
  border-bottom: 1px solid #F9F5F5;
}
.navbar-top.logo {
  border-width:0;
  background-color:#FFF;
  color:#ffffff;
  font-family:arial,sans-serif;
  top:-14px;
  position:fixed;
  width:inherit;
  border-bottom: 1px solid #F9F5F5;
  margin-left:0;
}

.navbar.menu {
  min-height: 22px;
}
.navbar.logo {
  min-height: 57px;
}
.navbar-top li > a,.navbar-toggle  {
  color:#00D189;
  border-right: 1px solid #D7F4FF;
  border-bottom: 1px solid #D7F4FF;

}

.navbar-top .dropdown-menu li a {color:#2A4888;}
.navbar-top .dropdown-menu li > a {padding-left:30px;}

.navbar-top li>a:hover, .navbar-top li>a:focus, .navbar-top .open, .navbar-top .open>a, .navbar-top .open>a:hover, .navbar-top .open>a:focus {
  background-color:#00D189;
  color:#fff;
  //border-radius: 0 0 50px 50px;
  .transition(all, 0.2s, ease-in);
}
.navbar-nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 0;
  margin-left: 0;

}


.navbar-toggle, .close {
  outline:0;
}

.navbar-toggle .icon-bar {
  background-color: @pink_dark_border;
}
