/*------------------------------------------------------------------
[4. Panels]
*/

.panel{
    .box-shadow(none);
    .border-radius(1px);    
    .transition(all .2s ease);
    position: relative;
    .panel-heading{
        background: transparent;
        border-radius:0px;
        border-bottom:0px;
        padding: 20px;
        position: relative;
        z-index: 3;
        min-height: 48px;
        &.separator:after {
                    content:"";
                    height:1px;
                    background:rgba(0,0,0,0.08);
                    left:16px;
                    right:16px;
                    position:absolute;
                    bottom:0;
        }
        & + .panel-body{
            padding-top: 0;
            height: calc(~'100% - 50px');
        }
        .panel-title{
            font-family: 'Montserrat';
            text-transform: uppercase;
            display: inline-block;
            letter-spacing: 0.02em;
            font-size: 12px;
            font-weight: 600;
            margin: 0;
            padding: 0;
            line-height: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-text-stroke:0px;
            filter: alpha(opacity=40);
            .transition(opacity .3s ease);
            & + .panel-body{

            }
        }
        .panel-controls{
            float: right;
            margin-top: -3px;
            ul{
                margin: 0;
                padding: 0;
                li{
                    display: inline-block;
                    list-style: none;
                    line-height: 0;
                }
            }
            &:after{
                content:"";
                  display:table;
                  clear:both;
            }
        }
        &.panel-heading-hover{
            .panel-title{
                opacity: .4;
            }
            &:hover{
                .panel-title{
                    opacity: 1;
                }              
            }
        }
    }
    &.panel-default{
        border:1px solid @pink_light;
    }
    &.panel-bordered{
        border:1px solid fade(@pink_light, 70%);
    }
    &.panel-condensed{
        .panel-heading{
            padding: 10px;
            min-height: 30px;
            .panel-title{
              opacity: .4;
            }
        }
        .panel-body{
            padding: 10px;
        }
    }
    &.panel-hover{
        .panel-heading .panel-title{
            opacity: .4;
        }
        &:hover{
            .panel-heading .panel-title{
                opacity: 1;
            }
        }
    }
    &.panel-transparent{
        background: transparent;
        .box-shadow(none);
        .panel-body{
            background: transparent;
        }
    }
    &.full-height{
        height: calc(~'100%');
        .panel-body{
            height: auto;
            width: 100%;
            height: 100%;
        }
    }
    &.panel-featured {
        .box-shadow(-1px 1px 3px 0px rgba(121, 129, 135, 0.14));
        width: calc(~'100% - 50px');
        float: right;
        .panel-title {
            h4 {
                font-family: 'Montserrat';
                font-size: 16px;
                text-transform: uppercase;
                color: @pink_light;

            }
        }
        .panel-body {
            h3 {
                line-height: 34px;
                font-size: 26px;
            }
        }
        .footer {
            .username {
                line-height: 8px;
                padding-top: 10px;
                font-size: 16px;
            }
            .buttons {
                li {
                    display: inline;
                    list-style: none;
                    font-weight: bold;
                    margin-left: 20px;
                    &:first-child {
                        margin-left: 0;
                    }
                }
                .heart {
                    color: @pink_light;

                }
                .comment {
                    color: @pink_light;
                }
            }
        }
        .ribbon {
            width: 38px;
            height: 38px;
            margin-left: -39px;
            float: left;
            .box-shadow( inset -3px 0px 3px 0px rgba(0,0,0,0.14) );
            &.green {
                background: @pink_light;

            }
            &.blue {
                background: @pink_light;

            }
        }
    }
    &.hover-fill:hover{
        background:@pink_light_border;
    }
    &.hover-stroke{
        &:hover{
            border:1px solid @pink_light_border;
        }
    }

    .panel-body{
        padding: 20px;
        height: 100%;
        width: 100%;
        //overflow-y: auto;
        &.no-padding{ 
            .row{ 
                margin-left: 0; 
                margin-right: 0; 
            } 
        } 
        &.no-bottom-padding{
            padding-bottom: 0;
        }
        &.no-top-padding{
            padding-top: 0;
        }
        .title{
            margin-top:0px;
        }
        &.scrollable{
            margin-bottom: 20px;
        }
    }
}

