/* adjust the contents on smaller devices */
@media (max-width: 768px) {
.btn-toggle-phone {
  position: absolute;
  top: 5px;
  left: 15px;
}
  .column .padding {
    padding: 7px;
  }

  .full{
  padding-top:20px;
  }

  .navbar-top {
    background-color:#FFF;
    top:0;
    width:100%;
    position:relative;
  }
  .pubs {
    margin-bottom: 0;
  }

  .navbar-top.menu {
    top:47px;
  }
  .top_cat_titre {
    margin-top:0;
    background: #FFF;

  }
  .navbar.menu {
    min-height: 0;
  }

    h1.top_cat {
    margin-top: 0px;
      padding-top: 6px;
  }


}


/*
 * off canvas sidebar
 * --------------------------------------------------
 */

@media screen and (max-width: 768px) {
  #main {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }
  .home{
  h2.logo_dc {
    font-size: 2.8em;
    color:white;
  }
}
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 0px;
  }

  //#sidebar, #sidebar a, #sidebar-footer a {
  //  padding-left:0px;
  //}




  .navbar {
    margin-bottom:0;
  }
}
@media screen and (min-width: 768px) {
  h1.top_cat {
    margin-top:22px;
  }
}
@media screen and (max-width: 320px) {
  .home{
    h2.logo_dc {
      font-size: 2em;
      color:white;
    }
  }
}