{%- block radio_widget -%}
    <label class="radio-inline">
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %} {% if checked %} checked="checked"{% endif %}>
    </label>
{%- endblock radio_widget -%}

