{% extends "DCCoreBundle::row_n2.html.twig" %}
{% block title %}
    {{parent()}}
{% endblock %}

{% block body_n3 %}
    {#Partie slide pour modifier site, gallery,texte..#}
<div class="column col-sm-1 col-xs-2 edit_slide" style="display: none">
    <!-- top nav -->
    <div class="padding">
        <div class="row">
            <div id="load_form_site"></div>
        </div>
    </div> <!-- fin padding -->
</div><!-- fin main -->
<div class="column col-sm-1 wait_edit" style="display: none">
    <a href="#" class="btn btn-default come_back"> <span class="fa fa-arrow-circle-o-left fa-3x"></span></a>
</div>



<div class="column col-sm-10 col-xs-11" id="main_admin">
    <!-- top nav -->
    <div class="navbar navbar-top navbar-static-top" style="margin-top: -12px">
        <h2 class="logo_dc pull-right" style="font-size: 30px;margin:0;padding-top: 35px">{{ settings.siteName }} </h2>
        {% include "DCCoreBundle:Taxonomy:header.html.twig" %}
    </div>


    <div class="padding">
<div id="add_rows">

    <div class="page-header">
        <h1>Lignes <small>RUBRIQUE >> {{ site.category.nom }} >> {{ site.domain }} </small></h1>
        <span class="cat_id" id="{{ site.category.id }}" style="display: none"></span>
        <span class="site_id" id="{{ site.id }}" style="display: none"></span>
        <a class="btn btn-sm btn-primary add_row pull-right" href="#">Créer une nouvelle ligne <i class="fa fa-plus-square"></i></a>
        {#<a class="btn btn-sm btn-info add_row_existante pull-left" style="margin-right: 10px" href="#">Ajouter {{ site.domain }} à une ligne existante <i class="fa fa-plus-square"></i></a>#}
        <a class="btn btn-sm btn-info pull-left" style="margin-right: 10px" href="{{ path('dc_admin_add_site_row',{id:site.id}) }}">Ajouter {{ site.domain }} à une ligne existante <i class="fa fa-plus-square"></i></a>
    </div>

{#Lignes existantes#}
    <div class="lignes_existantes">
        {{ render(controller('DCCoreBundle:Row:RowsDT', { 'id_cat': site.category.id })) }}
    </div>

    <div style="display: none" class="lignes_existantes"></div>


    <div style="display: none" class="load_gabrits"></div>
    <div style="display: none" class="load_ligne"></div>


   {#<p>ou bien tableau avec toutes les lignes de la rubrique avec un bouton pour les éditer et ajouter un site si possible car bolobolo</p>#}
</div>
    </div> <!-- fin padding -->
</div><!-- fin main -->
{%endblock%}
