{% extends "DCCoreBundle::row_n2.html.twig" %}
{% block title %}
    {{ parent() }}
{% endblock %}

{% block body_n3 %}
    {#Partie slide pour modifier site, gallery,texte..#}
    <div class="column col-sm-1 col-xs-2 edit_slide" style="display: none">
        <!-- top nav -->
        <div class="padding">
            <div class="row">
                <div id="load_form_site"></div>
            </div>
        </div>
        <!-- fin padding -->
    </div><!-- fin main -->
    <div class="column col-sm-1 wait_edit" style="display: none">
        <a href="#" class="btn btn-default come_back"> <span class="fa fa-arrow-circle-o-left fa-3x"></span></a>
    </div>



    <div class="column col-sm-10 col-xs-11 slide_to_right" id="main_admin">
        <!-- top nav -->
        <div class="navbar navbar-top navbar-static-top" style="margin-top: -12px">
            <h2 class="logo_dc pull-right" style="font-size: 30px;margin:0;padding-top: 35px">{{ settings.siteName }} </h2>
            {% include "DCCoreBundle:Taxonomy:header.html.twig" %}
        </div>
        <div class="padding">
            <div id="thumb_zone">
                <div class="page-header">
                    <h1>Vignettes
                        <small>RUBRIQUE >> {{ site.category.nom }} >> {{ site.domain }} </small>
                    </h1>
                </div>
                <div class="row">

                    <span class="site_id" id="{{ site.id }}"></span>

                    <div class="col-sm-6">
                        {#<h4>Générer une nouvelle vignette ?</h4>#}
                        <label>Générer une vignette</label>
                        <input style='margin-bottom: 4px' class="form-control url url_thumb" id="{{ site.id }}"
                               type="text" value="{{ site.url }}">
                        <a href="{{ site.url }}" target="_blank">Voir le site <i class="fa fa-external-link"></i> </a>

                        <div style="display: none" class="alert alert-danger url_error"></div>

                        <a class="btn btn-sm btn-info do_thumb pull-right" href="#">Générer la vignette <i
                                    class="fa fa-refresh"></i></a>
                    </div>
                    <div class="col-sm-4">
                        {{ form_start(form, {'action': path('dc_admin_add_site_thumb',{id:site.id}), 'method': 'POST','attr': {
                            'id': 'form_upload',
                            'data-id-site': site.id
                        }}) }}


                        {#<form id="form_upload" data-id-site="{{ site.id }}"#}
                              {#action="{{ path('dc_admin_add_site_thumb',{id:site.id}) }}"#}
                              {#method="post" {{ form_enctype(form) }}>#}
                            {{ form_widget(form) }}

                            <input class="btn btn-sm btn-primary pull-right" type="submit" value="Télécharger"
                                   style="margin-top: 10px"/>
                        </form>
                    </div>
                    <div class="col-sm-2 load_new_ligne_btn">
                        {% if (site.pics |length > 0) %}
                            <a class="btn btn-black btn-sm pull-right add-row-btn"
                               href="{{ path('dc_admin_add_site_row',{id:site.id}) }}">Ajouter le site à une ligne</a>
                        {% else %}
                            <button type="button" class="btn btn-default tooltip-ligne pull-right" data-toggle="tooltip"
                                    data-placement="left" title="Vous devez d'abord créer au moins une vignette">Ajouter
                                le site à une ligne
                            </button>
                        {% endif %}
                    </div>
                </div>
                <hr>
                {#Afficher la galerie d'image du site#}

                <div class="row">
                    <div class="col-md-8">
                        <a class='btn btn-default btn-xs save-crop' href="#">Sauvegarder la vignette recadrée <i
                                    class="fa fa-crop"></i></a>

                        <p class="crop_reponse"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="load_thumb load_pic_gallery{{ site.id }} col-md-11">
                        {% if site.pics |length >0 %}
                            {{ render (controller("DCCoreBundle:Site:displayLastPic", {'id_site': site.id})) }}
                        {% endif %}
                        {#<img id="crop" src="{{ asset('/uploads/thumbs/'~site.mainThumbPath) }}" alt=""/>#}
                    </div>
                    <span style="display: none" class="thumb_gallery_p">thumb</span>

                    <div class="col-md-1 load_gallery">
                        <p style="display:none;" class="reponse_delete well well-sm"></p>
                        {% include 'DCCoreBundle:Row/Ajax:showGallery.html.twig' with {pics:site.pics,galerie_row:false} %}
                    </div>
                </div>
                {#<div class="row">#}
                {#<hr/>#}
                {#<img id="crop" src="/uploads/thumbs/9153b835bd44b9e3a6064e9621ce49c80df1841b.jpg" alt=""/>#}
                {#<a class='btn btn-primary save-crop' href="#">Sauvegarder l'image cropper</a>#}
                {#<p class="crop_reponse"></p>#}
                {#</div>#}
            </div>
            <!-- thumb zone -->
        </div>
        <!-- fin padding -->
    </div><!-- fin main -->
{% endblock %}
