{% extends "DCCoreBundle::row_n2.html.twig" %}
{% block title %}
    {{parent()}}
{% endblock %}
{% block body_n3 %}

    {#Partie slide pour modifier site, gallery,texte..#}
    <div class="column col-sm-1 col-xs-2 edit_slide" style="display: none">
        <!-- top nav -->
        <div class="padding">
            <div class="row">
                <div id="load_form_site"></div>
            </div>
        </div> <!-- fin padding -->
    </div><!-- fin main -->
    <div class="column col-sm-1 wait_edit" style="display: none">
        <a href="#" class="btn btn-default come_back"> <span class="fa fa-arrow-circle-o-left fa-3x"></span></a>
    </div>



    <div class="column col-sm-10 col-xs-11" id="main_admin">
    <!-- top nav -->
    <div class="navbar navbar-top navbar-static-top" style="margin-top: -12px">
        <h2 class="logo_dc pull-right" style="font-size: 30px;margin:0;padding-top: 35px">{{ settings.siteName }} </h2>
        {% include "DCCoreBundle:Taxonomy:header.html.twig" %}
    </div>


    <div class="padding">
        <div class="page-header">
            <h1>Gérer les sites </h1>
            <a class="btn btn-primary btn-xs pull-right del-search" href="">Effacer la recherche</a>
        </div>

        {{ render(controller('DCCoreBundle:Site:gridWaldo')) }}

    </div> <!-- fin padding -->
    </div><!-- fin main -->

{%endblock%}