
    <div class="row well">
        {{ form_widget(form._token) }}
        <div class="form-group">
            <label for="url" class="col-sm-2 control-label">Url du site</label>
            <div class="col-sm-10">
                {{ form_errors(form.url) }}
                {{ form_widget(form.url) }}
                <div style="display: none" class="alert alert-danger url_error"></div>
                <span class="help-block">EX: http://www.poiccard.com</span>
            </div>
        </div>
        <div class="form-group">
            <label for="ancre" class="col-sm-2 control-label">Ancre</label>
            <div class="col-sm-10">
                {{ form_errors(form.ancre) }}
                {{ form_widget(form.ancre) }}
                <span class="help-block">Saisir l'ancre, le lien final sera généré automatiquement</span>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <a class="btn btn-xs btn-link extract_meta" style="margin-bottom: 4px" href=""><i class="fa fa-hand-o-down" style="color:#13193b"></i> Extraire la balise meta "description"</a>
                {{ form_errors(form.descShort) }}
                {{ form_widget(form.descShort) }}
            </div>
        </div>
        <div class="form-group">
            <label for="no_follow" class="col-sm-2 control-label">Masquer description ?</label>
            <div class="col-sm-10">
                {{ form_errors(form.showDescShort) }}
                {{ form_widget(form.showDescShort) }}
            </div>
        </div>
        <div class="form-group">
            <label for="no_follow" class="col-sm-2 control-label">Lien noFollow ?</label>
            <div class="col-sm-10">
                {{ form_errors(form.isNoFollowAncre) }}
                {{ form_widget(form.isNoFollowAncre) }}
            </div>
        </div>


        <div class="form-group">
            <label for="tags" class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-10">
                {{ form_errors(form.tags) }}
                {{ form_widget(form.tags) }}
            </div>
        </div>
        <div class="form-group">
            <label for="category" class="col-sm-2 control-label">Catégorie principale</label>
            <div class="col-sm-10">
                {{ form_errors(form.category) }}
                {{ form_widget(form.category) }}
            </div>

        </div>

    </div> <!-- fin well -->
    <div class="form-group">
        <div class="col-sm-offset-8 col-sm-4 ">
            <button type="submit" class="btn btn-primary pull-right">Enregistrer et passer à l'étape "vignette" <span class="glyphicon glyphicon-hand-right"></span></button>
        </div>
    </div>
